body {
  background-color: #1a1a1d;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

a:visited,
a:active,
a {
  color: #525ceb;
}
 main{
  min-height: 100vh;
 }

.overlay-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

#navbar{
  background-color: #a91d3980;
}

#navbarContainer{
  justify-content: space-between;
}

#logo{
  color: #fff;
  font-family: "Monoton", sans-serif;
  font-size: 26px;
  margin: 0;
  text-align: center;
}

#navbarContainer .navbar-nav{
  margin-top: 20px;
  flex-direction: column;
}

#navLoginBtn{
  color: #000;
  background-color: #C3E2C2;
  text-align: center;
}

#navRegisterBtn{
  color: #000;
  background-color: #EAD196;
  text-align: center;
}

#navLoginBtn:hover{
  background-color: #ccbcaa;
}

#navRegisterBtn:hover{
  background-color: #c4a46a;

}

#mainHeading {
  font-family: "Chango", sans-serif;
  font-size: 50px;
  color: #a91d39;
}

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99999;
}

.card-container {
  background-color: #1a1a1d;
  width: 85%;
}

.card-container .row .card-imgs img {
  width: 100%;
}

.create-header {
  font-size: 1.75rem;
}

.form-control {
  color: #fff;
  background-color: #28282b;
  border-width: 0 0 1px 0;
}

.form-control::placeholder {
  color: #686d76;
}

#createAccount {
  background-color: #525ceb;
  border-color: #525ceb;
}

.form-control:focus {
  color: #fff;
  background-color: #28282b71;
  border-color: #28282b71;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #525ceb50;
}

.form-check-input:checked {
  background-color: #686d76;
  border-color: #686d76;
}

.form-check-label {
  font-size: 0.875rem;
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: #fff;
}
.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked{
  background-color: #686d76;
}

.form-check-input.is-valid:focus, .was-validated .form-check-input:valid:focus{
  box-shadow: 0 0 0 .25rem #525ceb4d;
}

.form-check-input.is-valid, .was-validated .form-check-input:valid{
  border-color: #686d76;
}

#displayLogin {
  font-size: 14px;
}

#displaySignUp {
  font-size: 14px;
}

.account-question {
  font-size: 14px;
}

.terms {
  cursor: pointer;
  font-size: 14px;
}

#successMsg{
  text-align: center;
  margin-top: 10px;
  color: var(--bs-form-valid-border-color);
  font-weight: 600;
}

#existsMsg{
  text-align: center;
  margin-top: 10px;
  color: var(--bs-form-invalid-color);
  font-weight: 600;
}

a.signature {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffffc2;
  z-index: 99;
  text-decoration: none;
  padding: 18px;
  font-family: "Plaster", system-ui;
  font-size: 16px;
  cursor: pointer;
  white-space: pre;
  text-align: center;
}

a.signature:visited,
a.signature:active,
a.signature:focus {
  text-decoration: none;
}

#loginHelp{
  color: #dc3545;
  background-color: #dc354615;
  padding: 20px 20px;
}

#moviePresentation{
  position: relative;
}

#moviePresentation::before{
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(20, 20, 20, 0.2)
}

.card-text{
  position: relative;
}

.card-text::before{
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(20, 20, 20, 0.2)
}

.creators-name{

  color: #5B99C2;

}

.movie-creators{
  width: 70px;
  font-weight: bold;
} 