@media (min-width: 576px) { 
   
 }

@media (min-width: 768px) {
    .card-container{
        width: 100%;
    }

    .create-header{
      font-size: 38px;
      margin-bottom: 20px;
  }

  .form-check-label{
    font-size: 16px;
}

#displayLogin{
  font-size: 14px;
}
#displaySignUp{
  font-size: 14px;
}

.terms{
  font-size: 14px;
}

a.signature{
    padding: 25px;
    font-size: 30px;
}

#carouselExampleIndicators{
  margin-top: 0.9375rem;
}

  }


  @media (min-width: 992px) {
    .create-header{
      font-size: 42px;
      margin-bottom: 20px;
  }
  
  #carouselExampleIndicators{
    margin-top: 0;
  }

    
}

  @media (min-width: 1200px) {
  }
