@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .card-container {
    width: 100%;
  }

  .create-header {
    font-size: 38px;
    margin-bottom: 20px;
  }

  a.signature {
    padding: 25px;
    font-size: 30px;
  }

  #carouselExampleIndicators {
    margin-top: 0.9375rem;
  }
}

@media (min-width: 992px) {
  .create-header {
    font-size: 42px;
    margin-bottom: 20px;
  }

  #displayLogin {
    font-size: 16px;
  }

  #displaySignUp {
    font-size: 16px;
  }

  .account-question {
    font-size: 16px;
  }

  .terms {
    font-size: 16px;
  }

  .form-check-label {
    font-size: 16px;
  }

  #carouselExampleIndicators {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
}
